@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="AboutContainer" >
    <p><img src="~/Content/Images/ThomasHines.jpg" alt="Thomas Hines" align="left"></p>
   
    <p class=" col-lg-6" align="right">This is some text about Thomas Hines and his custom guitars</p>
</div>


