@model IEnumerable<ThomasHinesGuitar.Models.AboutModel>
@{
    ViewBag.Title = "About";
}
<div class="containerAbout" style="margin-top:50px; background-color:transparent">
    <div class="col-lg-5">
        <div class="containerIMG" style="background-color:white; border-radius:20px; text-align:center">
            <img src="~/Content/Images/aboutpicture.jpg" style="height:95%; width:95%; text-align:center; margin-top:20px; margin-bottom:85px" />
        </div>
        <div class="w3-container">
        </div>

        <div>
            <h2 style="text-align:center">About Thomas Hines</h2>
            Thomas Hines has been making guitars for 10 years.  He has done this in a local shop.  He used to play bass in a band.  He plays bass and guitar.
        </div>
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-lg-7">
        <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"
                async align="right"></script>
        <div class="fb-page"
             align="right"
             data-tabs="timeline,events,messages"
             data-href="https://www.facebook.com/Thomas-Hines-Guitars-167544839961266/"
             data-height="830"
             data-width="1080">
        </div>
    </div>
</div>

