@{
    ViewBag.Title = "Thomas Hines Guitars";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thomas Hines has been making custom guitars for the last 10 years.  He has done this in a local shop.  He used to play bass in a band.  He plays bass and guitar.</p>

<html>
<body>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"
            async></script>
</body>
</html>

<div class="AboutContainer">
    <p><img src="~/Content/Images/ThomasHines.jpg" alt="Thomas Hines" align="left"></p>

    <div class="fb-page"
         align="right"
         data-tabs="timeline,events,messages"
         data-href="https://www.facebook.com/Thomas-Hines-Guitars-167544839961266/"
         data-height="1000"
         data-width="1080">
    </div>

</div>
