@model IEnumerable<ThomasHinesGuitar.Models.AboutModel>
@{
    ViewBag.Title = "About";
}


<p></p>
<div class="w3 row">
    <br />
    <h1>About Thomas Hines</h1>

    <div class="col-lg-5">

        <img src="~/Images/Polaroid.jpg" alt="Pic" style="width:450px" align="left" />
        </>
        <div class="w3-container">
        </div>

        <div style="padding-top: 600px">
            @* Will replace with dynamic entry later on.*@
           @Html.DisplayFor(x => x.LastOrDefault().aboutView)
        </div>

    </div>

    <div class="col-lg-5">
    </div>

    <div class="col-lg-7">

        <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"
                async align="right"></script>
        <div class="fb-page"
             align="right"
             data-tabs="timeline,events,messages"
             data-href="https://www.facebook.com/Thomas-Hines-Guitars-167544839961266/"
             data-height="1000"
             data-width="1080">
        </div>
    </div>
</div>