@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <address style="float: left; padding-right: 50px;">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=12&center=31.1052%2C-87.0722&key=AIzaSyCBUlPO5q8kIbyPKmcc5eD9BadAvijMZw4" allowfullscreen></iframe><br />
    </address>

    <address>
        123 Main Street<br />
        Brewton, AL 36426<br />
        <abbr title="Office Phone">P:</abbr>
        251.867.5418
    </address>
</div>

<address>
    <strong>Email: </strong><a href="mailto:thomashines1981@gmail.com">thomashines1981@gmail.com</a><br />
</address>