@model ThomasHinesGuitar.FormViewModels.CustomerOrderViewModel
@{
    ViewBag.Title = "Customer Order Info";
}

<h2>CustomerView</h2>
<form>
    <div class=" ="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control"})
    </div>
    <div class=""></div>




</form>

